body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    
h2, h3, h4, h5{
   text-align: left;
}
.callout{
 transform:translatex(0px) translatey(0px);
 background-color:rgba(122,122,122,0.3);
}

h4{
 font-size:18px !important;
 font-style:normal !important;
 word-spacing:1px !important;
}

blockquote p{
 text-align:justify;
 white-space:normal;
}

.callout .callout-title{
 display:none;
}
    
}
